
@{
    ViewData["Title"] = "CreateTopic";
}
    <form asp-controller="QuizQ" asp-action="CreateTopic">
      Add Topic <input type="text" placeholder="Your Topic Name" name="TopicName"/>
        <input type="submit" value="Add"  class="btn-info"/>
    </form>


