
@{
    ViewData["Title"] = "AdminPage";
}

<h2>AdminPage</h2>
<div class="container">
<h2>@Html.ActionLink("CreateQuiz","CreateTopic","QuizQ")</h2>
<h2>@Html.ActionLink("ScoreRecorder", "GetResult", "QuizQ")</h2>
<h2>@Html.ActionLink("Topics", "TopicGenerator", "QuizQ")</h2>
</div>